/*
**  global settings (resets, scrollbars, etc.)
**  primary layout structure (body, primary divs)
**  secondary layout structure (header, footer, sidebar)
**  tertiary layout structure (page regions, floats)
**  text-related treatments (headings, paragraphs, lists)
**  images, links, and other salient features (pre, code)
**  general styles (forms, tables, buttons, acronyms et al)
**  general classes (.clear, .center, .right, .left, etc.)
**  miscellaneous stuff and template code
*/

/* === Global Settings === */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

/* === Primary Layout Structure */

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent; }

body {
    font-size: 15px;
    line-height: 1.6;
    color: #3e484d;
    background-color: #fff; 
}

/* === Secondary Layout Structure === */

.navbar {
    margin-top: 10px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-brand {
    border: 4px solid #9a1c50;
    font-weight: bold;
    color: #9a1c50;
    background-color: transparent;
    padding: 10px 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #9a1c50;
}

.navbar-default .navbar-nav > li > a {
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-bottom: solid 4px #f6e05c;
}

.navbar-default .sub-brand {
    display: inline-block;
    margin: 10px 0 0 15px;
    font-size: 18px;
    font-style: italic;
}

footer::before {
    border-top: solid 4px #f6e05c;
    content: "";
    display: block;
    margin-bottom: 15px;
    width: 100%; 
}

/* === Text-Related Treatments === */

h1 {
    color: #8BC5c2;
    font-size: 51px;
    font-weight: bold;
}

h1::after {
    border-bottom: solid 4px #f6e05c;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    content: "";
}

.about-content p {
    font-size: 20px;
    margin: 50px;
}

.resume-content h2 {
    color: #8BC5c2;
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0 20px 0;
}

.resume-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 15px 5px 100px;
}

.resume-content p {
    font-size: 16px;
    margin: 5px 15px 25px 100px;
}

.resume-content .resume-list {
    margin: 5px 15px 25px 100px;
    font-size: 16px;
}

.resume-content .resume-list ul {
    list-style-position: inside;
    padding-left: 0;
    list-style: disc;
}

.resume-content .skils-list {
    font-size: 15px;
    margin-bottom: 20px;
}

.resume-content .skils-list h2 {
    color: #9a1c50;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.resume-content .skils-list ul {
    list-style-image: url('../img/yellow-square.jpg')
}

/* === Images, Links, and Other Salient Features === */

img {
    vertical-align: middle; 
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto; 
}

/* === Miscellaneous Stuff and Template Code === */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; 
}
.container:before, .container:after {
    content: " ";
    display: table; }
.container:after {
    clear: both; 
}
@media (min-width: 768px) {
    .container {
        width: 750px; 
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px; 
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px; 
    }
}

.fa-behance {
    color: #1769ff;
    margin-left: 15px; 
}

.fa-instagram {
    color: #c13584;
    margin-left: 15px; 
}

.fa-envelope-o {
    color: #34a853; 
}

div.c-wrapper {
    margin: 0 auto 20px auto;
    max-width: 550px;
    width: 90%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    border-radius: 50%;
    margin: auto;
    width: 100%;
}
